@font-face{
	font-family: Roboto;
	src: url('../resources/fonts/Roboto-Regular.ttf');
}

.window{
	width: 1920px;
	height: auto;
	margin: 0 auto;
	font-family: Roboto;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
h1{
width: 458px;
height: 42px;
margin-top: 100px;
margin-bottom: 40px;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.wrapper{
	counter-reset: list;
	width: 1120px;
	height: 1202px; /*1120px58.33%;*/
	display: grid;
	grid-template-columns: repeat(4, 256px);
	grid-template-rows: repeat(4, 256px);

	border-bottom: 1px solid #D9D9DE;
	grid-gap: 32px;
}
.item{
	background-color: aqua;
	color: #fff;
	font-weight: 500;
	line-height: 23px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	display: flex;
	flex-direction:column;
}
.litle{
	padding-top : 16px;
	padding-left: 17px;
	padding-bottom : 16px;
}
.big{
	padding-top : 17px;
	padding-left: 28px;
	padding-bottom : 17px;
}
.litle h2{
font-size: 18px;
flex: 1 1 auto;
}
.big h2{
margin-bottom: 15px;
font-size: 24px;
}
h3{
	font-weight: 700;
	font-size: 16px;
}
h4{
	margin-bottom: 20px;
	font-weight: 400;
	line-height: 21px;
	font-size: 16px;
}
.big div{
	flex: 1 1 auto;
}
.item:nth-child(1){
	background: url('../resources/img/1.png');
}
.item:nth-child(2){
	background: url('../resources/img/2.png');
}
.item:nth-child(3){
	grid-column: span 2;
	grid-row: span 2;
	background: url('../resources/img/3.png');
}
.item:nth-child(4){
	background: url('../resources/img/4.png');
}
.item:nth-child(5){
	background: url('../resources/img/5.png');
}
.item:nth-child(6){
	grid-column: span 2;
	grid-row: span 2;
	background: url('../resources/img/6.png');
}
.item:nth-child(7){
	background: url('../resources/img/7.png');
}
.item:nth-child(8){
	background: url('../resources/img/8.png');
}
.item:nth-child(9){
	background: url('../resources/img/9.png');
}
.item:nth-child(10){
	background: url('../resources/img/10.png');
}




